{% extends 'base.html' %}

{% block title %}Gestión de Usuario{% endblock %}

{% block breadcrumb %}
<span class="breadcrumb-item active">Gestión de Usuario</span>
{% endblock %}

{% block header %}
<div class="m-4 m-lg-5">
    <h2 class="display-5 fw-bold">Gestión de Usuario</h2>
</div>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
</form>
<hr>
<h3>Cambiar Contraseña</h3>
<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    {{ password_form.as_p }}
    <button type="submit" class="btn btn-primary mt-3">Cambiar Contraseña</button>
</form>
{% endblock %}
